---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { capitalize } from "../utils";

const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog');

const tags: string[] = allBlogArticles.flatMap((article: any) => article.data.tags);

const uniqueTags: string[] = [...new Set(tags)];
---

<footer class="bg-indigo-900 text-white">
  <div class="container mx-auto mt-10 max-w-screen-xl px-8">
    <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-4">
      <div class="mt-10">
        <h3 class="text-xl font-semibold mb-4">About</h3>
        <p class="text-white text-sm">
          SRVSRR is a blog for film, tech and sports. I publish articles,
          stories and reviews about the latest news and
          leaks.
        </p>
      </div>
      <div class="mt-10">
        <h3 class="text-xl font-semibold mb-4">Categories</h3>
        <ul class="text-white text-sm">
          {uniqueTags.map(tag => (
            <li class="mb-2">
              <a href={'/articles/tag/' + tag}>{capitalize(tag)}</a>  
            </li>
          ))}
        </ul>
      </div>
      <div class="mt-10">
        <h3 class="text-xl font-semibold mb-4">Socials</h3>
        <ul class="text-white text-sm">
          <li class="mb-2">
            <a href="https://www.reddit.com/user/SRVSRR/">Reddit</a>
          </li>
          <li class="mb-2">
            <a href="https://x.com/SRVSRR">Twitter</a>
          </li>
          <li class="mb-2">
            <a href="https://www.linkedin.com/in/rohan-nandan2004/">LinkedIn</a>
          </li>
          <li class="mb-2">
            <a href="https://www.instagram.com/rohan_nandan_/">Instagram</a>
          </li>
        </ul>
      </div>
      <div class="mt-10">
        <h3 class="text-xl font-semibold mb-4">My Other Projects</h3>
        <ul class="text-white text-sm">
          <li class="mb-2">
            <a href="https://main--devportfolio2d.netlify.app">2D Portfolio</a>
          </li>
        </ul>
      </div>

</footer>